<div class="container">
    <div class="row justify-content-center"> 
        <h2>{{character?.name}}</h2>
    </div>
    <div class="row justify-content-center">    
        <mat-list role="list">
                <mat-list-item role="listitem">UserId: {{character?.userId}}</mat-list-item>   
                <mat-list-item role="listitem">CharacterId: {{character?._id}}</mat-list-item>
                <mat-list-item role="listitem">Gender: {{character?.gender}}</mat-list-item>
                <mat-list-item role="listitem">Region Id: {{character?.regionId}} </mat-list-item>
                <mat-list-item role="listitem">City Id: {{character?.cityId}} </mat-list-item>
                <mat-list-item role="listitem">City name: {{city?.name}}</mat-list-item>   
                <mat-list-item role="listitem">HP: {{character?.hp}}</mat-list-item>   
                <mat-list-item role="listitem">Strength: {{character?.strength}}</mat-list-item>   
                <mat-list-item role="listitem">Agility: {{character?.agility}}</mat-list-item>   
                <mat-list-item role="listitem">Intelligence: {{character?.intelligence}}</mat-list-item>   
        </mat-list>
    </div>
    <div class="row"> 
        <div class="col justify-content-center">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-3">
                    <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" [(ngModel)]="searchName">                
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline">
                            <mat-label>Region Type</mat-label>
                            <mat-select [(ngModel)]="searchType">
                                <mat-option *ngFor="let type of typeSelection" [value]="type">
                                {{ type }}
                                </mat-option>
                            </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 ">
                    <button class="float-right" mat-raised-button color="primary" mat-button (click)='searchRegions()'>Search Regions</button>
                </div>
            </div>
            
            <mat-card *ngFor="let region of regions" style="margin-top:10px;">
                <div class="row">
                    <div class="col">
                        <mat-card-header>
                            <mat-card-title>{{region.name}}</mat-card-title>
                            <mat-card-subtitle>Seed: {{region._id}}</mat-card-subtitle>
                        </mat-card-header>
                    </div>
                    <div class="col text-right">
                        <mat-card-actions *ngFor="let city of region.cities">
                            <button mat-raised-button color="primary" (click)='moveToCity(city._id)'>Move {{character?.name}} to {{city.name}}</button>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card>
            
            <div *ngIf="currentPage > 1" class="row justify-content-center">
                <button class='btn-margin' mat-raised-button color="secondary" (click)='loadNextPage()'>Load more</button>
            </div>
        </div>
        <div class="col">
            <p>Currently Status: {{currentStatus}}</p>
            <mat-card *ngFor="let station of stations" style="margin-top:10px;">
                <div class="row">
                    <div class="col my-auto">
                        <mat-card-title>Station: {{station}}</mat-card-title>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

   
   



<router-outlet></router-outlet>