<div class="container">
    <div class="row justify-content-center">
        <button class='btn-margin' mat-raised-button color="primary" (click)='createRegion()'>Create New Region</button>
    </div>

    <mat-card *ngFor="let region of regions" style="margin-top:10px;">
        <div class="row">
            <div class="col">
                <mat-card-header>
                    <mat-card-title>{{region.name}}</mat-card-title>
                    <mat-card-subtitle>Seed: {{region.seed}}</mat-card-subtitle>
                </mat-card-header>
            </div>
            <div class="col text-right">
                <mat-card-actions>
                    <button mat-raised-button color="primary" [routerLink]="['/regions', region._id]">Go to Region</button>
                </mat-card-actions>
            </div>
        </div>
    </mat-card>

    <div class="row justify-content-center">
        <button class='btn-margin' mat-raised-button color="secondary" (click)='loadNextPage()'>Load more</button>
    </div>
</div>
