<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <img *ngIf="!isProd" src="assets\devBanner.png">
  <a class="navbar-brand" routerLink="/home">Odyssey</a>

  <button class="navbar-toggler btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="navbar"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar" [(ngbCollapse)]="isCollapsed" (click)="isCollapsed = !isCollapsed">
    <ul class="navbar-nav me-auto" float="left">
      <li class="nav-item">
        <a class="nav-link" *ngIf="auth.isLoggedIn()" routerLink="/characters">Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="auth.isLoggedIn()" routerLink="/regions">Regions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="auth.isLoggedIn()" routerLink="/worldmap">Worldmap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="auth.isLoggedIn()" routerLink="/profile">{{ auth.getUserDetails()?.name }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="auth.isAdmin()" routerLink="/administration">Administration</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto" float="right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <span class="navbar-text">
        Version: {{version}}
      </span>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!auth.isLoggedIn()" routerLink="/login">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>