<div>
    <button mat-icon-button	routerLink="/games">
        <fa-icon [icon]="faArrowLeft" size="2x"></fa-icon>
    </button>
    <h1> Game # {{game?._id}}</h1>
</div>

<mat-list role="list">
        <mat-list-item role="listitem">Title: {{game?.title}}</mat-list-item>
        <mat-list-item role="listitem">Seed: {{game?.seed}}</mat-list-item>
        <mat-list-item role="listitem">Size: {{game?.mapsize}} </mat-list-item>
        <mat-list-item role="listitem">Date: {{game?.date}}</mat-list-item>   
</mat-list>

<mat-list *ngFor="let player of game?.players">
    <mat-list-item>Spieler: {{player}}</mat-list-item>
</mat-list>

<button mat-button [routerLink]="['regions']">Show Regions</button>

<router-outlet></router-outlet>